body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: #333;
}

header {
    padding: 40px;
    text-align: center;
    background: #e0e0e0;
}

.projects {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.softwares {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.publications {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.expand-card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    overflow: auto;
    transition: box-shadow 0.3s ease;
}

.expand-card:hover{
    height: 200px;
}

.simple-card-overflow {
    background: white;
    padding: 15px;
    margin: 10px 0;
    max-width: 800px;
    max-height: 200px;  
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    overflow-x: scroll;
}

.long-card {
    background: white;
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.software-ball{
    width: 100px;
    height: 100px;
    display: inline-block;
    background: #5c5c5c;
    padding: 15px;
    margin: 10px 10px;
    border-radius: 50%;
    background-image: var(--bg-url);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #777;
}
