body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: #333;
}

header {
    padding: 40px;
    text-align: center;
    background: #e0e0e0;
}

.projects {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.softwares {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.publications {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.expand-card {
    background: white;
    height: 100px;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    overflow: auto;
    transition: height 0.5s;
}

.expand-card:hover{
    height: 200px;
}

.simple-card-overflow {
    background: #fafafa;
    padding: 15px;
    margin: 10px 0;
    align-self: center;
    max-width: 750px;
    max-height: 200px;  
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 94%);
}

.long-card {
    background: #fafafa;
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    will-change: transform; 
    animation: scrolling 10s linear infinite;
}
@keyframes scrolling {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.software-ball{
    width: 100px;
    height: 100px;
    display: inline-block;
    background: #fafafa;
    padding: 15px;
    margin: 10px 10px;
    border-radius: 50%;
    background-image: var(--bg-url);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #777;
}
